
.list-box {
    background: #fff none repeat scroll 0 0;
    float: right;
    height: auto;
    width: 800px;
}

.list {
    border-bottom: 2px solid #ccc;
    overflow: hidden;
    padding: 15px;
    width: 770px;
}

.list-con {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 5px 10px 5px 5px;
    width: 755px;
}

.list-con-img {
    float: left;
    height: 160px;
    width: 215px;
}

.list-con-info {
    float: left;
    height: 100%;
    width: 540px;
}

.list-con-info .title {
    border-bottom: 1px solid #eee;
    color: #009494;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    width: 100%;
}

.list-con-info .info {
    line-height: 20px;
    margin-left: 10px;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
}

.list-con-info .bottom {
    height: 20px;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

.list-con-info .bottom span {
    float: right;
    margin: 0 5px;
}

em {
    color: #888;
    font-size: 13px;
    font-style: normal;
}

a{
	color: #575757;
}